{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 py-3">
          <h2 class="title-section">{{popular_post.title}}</h2>
          <div class="divider"></div>
          <p>{{popular_post.content}}</p>
        </div>
        <div class="col-lg-6 py-3">
          <div class="img-fluid py-3 text-center">
            <img style="width: 100%;" src="{{popular_post.image.url}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section">
    <div class="container">
      <div class="text-center">
        <div class="subhead">Pricing Plan</div>
        <h2 class="title-section">Choose plan the right for you</h2>
        <div class="divider mx-auto"></div>
      </div>
      <div class="row mt-5">
        {% for service in services %}
        <div class="col-lg-4 py-3 wow zoomIn">
          <div class="card-pricing marked">
            <div class="header">
              <div class="pricing-type">{{ service.type }}</div>
              <div class="price">
                <span class="dollar">$</span>
                <h1>{{ service.price }}</span></h1>
              </div>
              <h5>Per Month</h5>
            </div>
            <div class="body">
              <p>{{ service.analytics_count }} Analytics <span class="suffix">Campaign</span></p>
              <p>{{ service.change_count }} Change <span class="suffix">Keywords</span></p>
              <p>Social Media <span class="suffix">{{ service.social_media }}</span></p>
              <p>{{ service.count_of_optimization }} Free <span class="suffix">Optimization</span></p>
              <p>{{ service.support }} <span class="suffix">Support</span></p>
            </div>
            <div class="footer">
              <a href="#" class="btn btn-pricing btn-block">Subscribe</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->
  {% endblock %}